In [1]:
import pandas as pd
import numpy as np

In [2]:
peopleFile = "C:/Users/avadavelli/Downloads/twitter-vaccination-dataset/vaccination2.csv"
df = pd.read_csv(peopleFile)
df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,quote_url,video,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date
0,1179751797377748992,1179679963458392065,1570109721000,2019-10-03,16:35:21,E. Africa Standard Time,118965754,peaceahappiness,Ein guter Freund,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '118965754', 'username': 'PeaceaH...",NaN
1,1179751771780141056,1179751771780141056,1570109715000,2019-10-03,16:35:15,E. Africa Standard Time,2798966764,briannacelegill,Brianna Celeste Gill #GTTO,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2798966764', 'username': 'Briann...",NaN
2,1179751625109524480,1179751625109524480,1570109680000,2019-10-03,16:34:40,E. Africa Standard Time,731229606,dawnpike20,Dawn Pike (RN),NaN,...,https://twitter.com/l_ebah/status/117974075050...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '731229606', 'username': 'dawnpik...",NaN
3,1179751288445313025,851513700225888257,1570109600000,2019-10-03,16:33:20,E. Africa Standard Time,138843333,plasticdoe,S,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '138843333', 'username': 'Plastic...",NaN
4,1179750655583571968,1179750655583571968,1570109449000,2019-10-03,16:30:49,E. Africa Standard Time,2353731720,wv_dhhr,WV DHHR,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2353731720', 'username': 'WV_DHH...",NaN

In [3]:
print('Dataset size:',df.shape)
print('Columns are:',df.columns)

Dataset size: (89973, 31)
Columns are: Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'mentions', 'urls',
       'photos', 'replies_count', 'retweets_count', 'likes_count', 'hashtags',
       'cashtags', 'link', 'retweet', 'quote_url', 'video', 'near', 'geo',
       'source', 'user_rt_id', 'user_rt', 'retweet_id', 'reply_to',
       'retweet_date'],
      dtype='object')

In [4]:
# use the drop columns function to streamline the dataset
df = df.drop(columns=['id', 'time','user_id','username','conversation_id','created_at','timezone', 'name', 'place', 'mentions', 'urls', 'photos', 'replies_count', 'likes_count', 'cashtags', 'link', 'retweet','retweets_count', 'quote_url', 'video', 'near', 'geo', 'source', 'user_rt_id', 'user_rt', 'retweet_id', 'reply_to', 'retweet_date'])
df.head(10)

,date,tweet,hashtags
0,2019-10-03,Thinks: ... tetanus vaccination currently? ...😉,[]
1,2019-10-03,Forced Vaccination & It's Ties To Eugenics - D...,[]
2,2019-10-03,We have had our flu vaccination to protect our...,[]
3,2019-10-03,"That's true, they are not, which is why there ...",[]
4,2019-10-03,"Flu vaccination during pregnancy is safe, help...",['#fluvax']
5,2019-10-03,What did farmers make of the Badger Vaccinatio...,"['#tbfree', '#badgercull']"
6,2019-10-03,An employee at Turning Stone Resort Casino in ...,[]
7,2019-10-03,#Nigeria: An outbreak of yellow fever is ongoi...,['#nigeria']
8,2019-10-03,Impressive numbers! So pleased to continue sup...,"['#vaccination', '#communities']"
9,2019-10-03,⁦@DrBGellin⁩ @Sabin urging more #research at t...,"['#research', '#vaccines', '#antibioticresista..."

In [5]:
print('Dataset size:',df.shape)
print('Columns are:',df.columns)
df.info()

Dataset size: (89973, 3)
Columns are: Index(['date', 'tweet', 'hashtags'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89973 entries, 0 to 89972
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      89973 non-null  object
 1   tweet     89973 non-null  object
 2   hashtags  89973 non-null  object
dtypes: object(3)
memory usage: 2.1+ MB

In [6]:
#convert data to datetime and strings for manipulation.
df["tweet"]= df["tweet"].astype(str)
df['date']= pd.to_datetime(df['date'], infer_datetime_format=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89973 entries, 0 to 89972
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      89973 non-null  datetime64[ns]
 1   tweet     89973 non-null  object
 2   hashtags  89973 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 2.1+ MB

In [7]:
df.head(10)

,date,tweet,hashtags
0,2019-10-03,Thinks: ... tetanus vaccination currently? ...😉,[]
1,2019-10-03,Forced Vaccination & It's Ties To Eugenics - D...,[]
2,2019-10-03,We have had our flu vaccination to protect our...,[]
3,2019-10-03,"That's true, they are not, which is why there ...",[]
4,2019-10-03,"Flu vaccination during pregnancy is safe, help...",['#fluvax']
5,2019-10-03,What did farmers make of the Badger Vaccinatio...,"['#tbfree', '#badgercull']"
6,2019-10-03,An employee at Turning Stone Resort Casino in ...,[]
7,2019-10-03,#Nigeria: An outbreak of yellow fever is ongoi...,['#nigeria']
8,2019-10-03,Impressive numbers! So pleased to continue sup...,"['#vaccination', '#communities']"
9,2019-10-03,⁦@DrBGellin⁩ @Sabin urging more #research at t...,"['#research', '#vaccines', '#antibioticresista..."